@using MarketMoves.Models.Enums

@model IEnumerable<MarketMoves.Models.Alert>
@{
    ViewData["Title"] = "Alerts";
}

<div class="container">
    <div name="header" class="">
        <h1 class="d-inline">Alerts</h1>
        <a class="btn btn-primary float-right" asp-action="Create">Add an alert</a>
        <button id="CustomNotification" data-toggle="modal" data-target="#CustomNotificationModal" class="btn btn-secondary float-right">Notify</button>
    </div>
    <div class="table-responsive">
        <table class="table data-table table-dark text-center table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Entry Price</th>
                    <th>Profit target</th>
                    <th>Loss price</th>
                    <th>Executed price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Alert alert in Model)
                {
                <tr data-id="@alert.Id">
                    <td> <a asp-controller="Alerts" asp-action="Details" asp-route-id="@alert.Id">@alert.Title</a></td>
                    <td name="status">@alert.Status</td>
                    <td>@alert.Entry</td>
                    <td>@alert.ProfitPrice </td>
                    <td>@alert.LossPrice</td>
                    <td name="executedPrice">
                        @if (alert.Status == AlertStatus.Executed)
                        {
                        <p>@alert.ExecutedEntry.ToString()</p>
                            
                        }
                        else if (alert.Status == AlertStatus.Closed)
                        {
                        <p>@alert.ExecutedExit.ToString()</p>
                        }else
                        {
                         <p>0</p>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@alert.Id" data-toggle="tooltip" title="Edit trade" style="color: turquoise;"><i class="fas fa-pen"></i></a>
                        |
                        @if (alert.Status == AlertStatus.OnDeck)
                        {
                            <i name="entry" data-toggle="modal" data-target="#EntryModal" data-id="@alert.Id" style="color:turquoise;cursor: pointer;" class="fas fa-sign-in-alt"></i>
                            <i name="triggered" data-toggle="tooltip" title="Trigger alert" data-id="@alert.Id" style="color:turquoise;cursor: pointer;" class="fas fa-fire"></i>

                        }
                        else if (alert.Status == AlertStatus.Executed || alert.Status == AlertStatus.Triggered)
                        {
                            <i name="exit" data-toggle="modal" data-target="#ExitModal" data-id="@alert.Id" style="color: turquoise;cursor: pointer;" class="fas fa-sign-out-alt"></i>
                        }
                        |
                        <a asp-action="Delete" asp-route-id="@alert.Id" asp-route-price="6" data-toggle="tooltip" title="Delete trade" style="color: turquoise;"><i alt="Delete trade" class="fas fa-trash"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="EntryModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Entry Execution</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="AlertId" value="" />
                <label for="EntryPrice">Price: </label>
                <input type="text" id="EntryPrice" value="" class="form-control" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="ExecuteEntry">Execute</button>                
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ExitModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Exit Execution</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="AlertId" value="" />
                <label for="EntryPrice">Price: </label>
                <input type="text" id="ExitPrice" value="" class="form-control" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="ExecuteExit">Execute</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CustomNotificationModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Entry Execution</h4>
            </div>
                <div class="modal-body">
                    <input type="hidden" name="AlertId" value="" />
                    <label for="subject">Subject: </label>
                    <input type="text" id="subject" value="" class="form-control" />
                    <br />
                    <div class="form-group">
                        <label for="mail">Send Email? </label>
                        <input type="checkbox" id="mail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="sms">Send SMS? </label>
                        <input type="checkbox" id="sms" class="form-control" />
                    </div>

                    <br />
                    <label for="body">Body: </label>
                    <textarea id="body" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="CustomNotificationConfirmation" >Send</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $("[name=entry]").click(function () {
            var id = $(this).data("id");
            $("#AlertId").val(id);
            $("#EntryPrice").val(0);
        });
        $("[name=exit]").click(function () {
            var id = $(this).data("id");
            $("#AlertId").val(id);
            $("#ExitPrice").val(0);
        });
        $("#ExecuteEntry").click(function () {
            var id = $("#AlertId").val();
            var price = $("#EntryPrice").val();
            
            var dataValue = { "id": id, "price": price };
            price = parseFloat(price);
            if (!isNaN(price) && price >= 0) {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ExecuteEntry")",
                    data: dataValue,
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
                    },
                    success: function (result) {
                        if (result == "Pozey") {
                            var tr = $("tbody").find("tr[data-id='" + id + "']");
                            var statusTd = tr.find("td[name=status]").html("Executed");
                            var priceP = tr.find("td[name=executedPrice] p").html(price);
                            tr.find("[name=entry]").replaceWith("<i name='exit' data-toggle='modal' data-target='#ExitModal' data-id='" + id + "' style='color: turquoise;cursor: pointer;' class='fas fa-sign-out-alt'></i>");
                            tr.find("[name=exit]").click(function () {
                                var id = $(this).data("id");
                                $("#AlertId").val(id);
                            });
                        }
                        else {
                            alert(result)
                        }
                    }
                });
            }
            else {
                alert("Please enter a positive number");
            }
        });
        $("#ExecuteExit").click(function () {
            var id = $("#AlertId").val();
            var price = $("#ExitPrice").val();

            var dataValue = { "id": id, "price": price };
            price = parseFloat(price);
            if (!isNaN(price) && price >= 0) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ExecuteExit")",
                    data: dataValue,
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
                    },
                    success: function (result) {
                        if (result == "Pozey") {
                            var tr = $("tbody").find("tr[data-id='" + id + "']");
                            tr.find("td[name=status]").html("Closed");
                            tr.find("td[name=executedPrice] p").html(price);
                            tr.find("[name=exit]").remove();
                        }
                        else {
                            alert(result)
                        }
                    }
                });
            }
            else {
                alert("Please enter a positive number");
            }
        });
        $("#CustomNotificationConfirmation").click(function () {
            var subject = $("#subject").val();
            var body = $("#body").val();
            var sms = $("#sms").is(":checked");
            var mail = $("#mail").is(":checked");
            var data = {
                "body": body,
                "subject": subject,
                "sms": sms,
                "mail": mail
            };
            $.ajax({
                type: "POST",
                url: "@Url.Action("SendSMS")",
                data: data,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
                },
                success: function (result) {
                    if (result) {
                            
                        alert("Alert is sent.");
                        $('#CustomNotificationModal').modal('hide');
                    }
                    else {
                        alert("Alert is not sent.")
                    }
                }
            });
        });
        $("[name=triggered]").click(function () {
            var id = $(this).data("id");
            var data = {
                "id": id,
            };
            $.ajax({
                type: "POST",
                url: "@Url.Action("Trigger")",
                data: data,
                context: { "id": id },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
                },
                success: function (result) {
                    if (result) {
                        var tr = $("tbody").find("tr[data-id='" + this.id + "']");
                        tr.find("td[name=status]").html("Triggered");
                        alert("Alert Triggered.");
                    }
                    else {
                        alert(result)
                    }
                }
            });
        });
    </script>
}