@model IEnumerable<MarketMoves.Models.Account>

@{
    ViewData["Title"] = "Users";
}

<div class="container">
    <partial name="_StatusMessage" />
    <h1>@ViewData["Title"] with access</h1>
    <div class="table-responsive">
        <table class="table data-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th data-orderable="false">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Where(u => u.Suscribed == true))
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>
                            <a asp-controller="Users" asp-action="Revoke" asp-route-id="@user.Id" data-toggle="tooltip" title="Revoke access"><i style="color:red" class="fas fa-times"></i></a>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <h1>@ViewData["Title"] without access</h1>
    <div class="table-responsive">
        <table class="table data-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th data-orderable="false">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Where(u => !u.Suscribed))
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>
                            <a asp-controller="Users" asp-action="Grant" asp-route-id="@user.Id" data-toggle="tooltip" title="grant access"><i style="color:green" class="fas fa-check"></i> </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>