@using MarketMoves.Models.Enums

@model IEnumerable<MarketMoves.Models.Alert>
@{
    ViewData["Title"] = "Alerts";
}

<div class="container">
    <div>
        <h1 class="d-inline">Alerts</h1>
        <a class="nav-link float-right" style="color:blue;" asp-controller="Home" asp-action="History">Closed Alerts</a>
    </div>
    <div class="table-responsive">
        <table class="table data-table table-dark text-center table-bordered">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Link to Option Alert</th>
                    <th>Option Type</th>
                    <th>Strike</th>
                    <th>CALLS/PUTS</th>
                    <th>Entry price</th>
                    <th>Exit price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Alert alert in Model.Where(a=>a.Status!=AlertStatus.Closed ))
                {
                <tr data-id="@alert.Id">

                    @if (alert.Status == AlertStatus.Triggered)
                    {
                        <td name="status" style="background-color:darkolivegreen">@alert.Status.GetDescription()</td>
                    }
                    else if (alert.Status == AlertStatus.Untriggered)
                    {
                        <td name="status" style="background-color:darkred">@alert.Status.GetDescription()</td>
                    }
                    else if (alert.Status == AlertStatus.Executed)
                    {
                        <td name="status" style="background-color:darkblue">@alert.Status.GetDescription()</td>
                    }
                    else if (alert.Status == AlertStatus.OnDeck)
                    {
                        <td name="status" style="background-color:darkcyan">@alert.Status.GetDescription()</td>
                    }
                    <td> <a asp-controller="Alerts" asp-action="Details" asp-route-id="@alert.Id">@alert.Title</a></td>
                    <td>@alert.Option</td>
                    <td>@alert.Strike $</td>
                    <td style="@(alert.OptionType==OptionType.Calls? "background-color:darkgreen":"background-color:darkred");">@alert.OptionType</td>
                    <td>@alert.Entry $</td>
                    <td>@alert.ProfitPrice $</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>